.chess:nth-child(odd) app-cell:nth-child(odd){
	background-color:#efefef
}
.chess:nth-child(odd) app-cell:nth-child(even){
	background-color:#333333;
}
.chess:nth-child(even) app-cell:nth-child(even){
	background-color:#efefef;
}
.chess:nth-child(even) app-cell:nth-child(odd){
	background-color:#333333;
}

.invisible{
	visibility: hidden;
}