.container{
	height:100%;
	width:100%;
	position: absolute;
	padding-left: 2%;
	box-sizing: border-box;

}

.logger{
	overflow-y: scroll;
	height:85%;
	width:98%;
	padding: 2% 3%;
	box-sizing: border-box;
	background-color:silver;
	border-style: solid;
	border-width: 1px;
	text-align: left;
	line-height: 1.5;	
}

.blackborder{
	box-sizing: border-box;
	background-color:silver;
	border-style: solid;
	border-width: 1px;
}

